<div class="dids_panel " ng-app="myApp.view1">

    <div class="dids_config_panel col-md-10 col-md-offset-1" np-controller="View1Ctrl">
        <div class="row top_margin_10"  ng-repeat="did in dids" ng-init="init(did)" ng-controller="SingleDidConfigCtrl">
            <div class="did_config_panel col-md-10 col-md-offset-1">
                <div class="did_config_panel_header row">
                    <div class="col-md-6 col-md-offset-1"><h2>{{didInfo.name}}</h2></div>
                    <div class="col-md-5"><h2>{{didInfo.local}}</h2></div>
                </div>

                <div class="did_config_panel_assigned_agents col-md-10 col-md-offset-1" ng-repeat="agent in didInfo.assignedAgents">
                    <div class="did_config_panel_assigned_agent row">
                        <div class="col-md-2"><h4>{{agent.name}}</h4></div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info" ng-click="removeAgent(agent)">Remove</button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-1 col-md-offset-9">
                            <button type="button" class="btn btn-primary" ng-click="didInfo.assigning = !didInfo.assigning">Assign Agents</button>
                        </div>
                    </div>

                    <div uib-collapse="didInfo.assigning">
                        <div class="did_config_panel_unassigned_agents col-md-10 col-md-offset-1" ng-repeat="agent in didInfo.unassignedAgents">
                            <div class="did_config_panel_unassigned_agent row">
                                <div class="col-md-2"><h4>{{agent.name}}</h4></div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-info" ng-click="assignAgent(agent)">Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
